In [2]:
# pip install cbpro 
import cbpro
import datetime 
import pandas as pd

In [5]:
pclient = cbpro.PublicClient()
TICKER = "ETH-EUR"

now_there = datetime.datetime.fromisoformat(pclient.get_time()["iso"][0:-1]) # remove last item
now_here = datetime.datetime.fromisoformat(datetime.datetime.now().isoformat())

def convert_candles_to_df(candles):
    """
    convert the data candles from the raw coinbase request to dataframe 
    
    `index = time , columns = { low, high, open, close, volume },
     [ 1415398768, 0.32, 4.2, 0.35, 4.2, 12.3 ],
    :param: candles 
    :return: dataframe 
    """
    df= pd.DataFrame(columns = ["time","low","high","open","close","volume"], data = candles)
    df["time"] = df["time"].apply(lambda x : datetime.datetime.fromtimestamp(x))
    df.set_index("time",inplace= True)
    return df 
   

def get_candles_from(ticker, start, size, granularity):
    """
     [ time, low, high, open, close, volume ],
     [ 1415398768, 0.32, 4.2, 0.35, 4.2, 12.3 ],
    """
    resolution = {"1min": 60 , "5min" : 300, "15min" : 900, "1hr" : 3600, "6hr" : 21600, "1day" : 86400}

    if size > 300: 
        print ("limiting the number of requested candle sticks from {} to 300".format(size))
        size = 300
    candles = pclient.get_product_historic_rates(TICKER, 
                                    start = start.isoformat(),
                                    end = (start + datetime.timedelta(seconds = size * resolution[granularity])).isoformat(), 
                                    granularity = resolution[granularity])
    
    return convert_candles_to_df(candles)
    
def get_candles_to(ticker, end, size, granularity):
    """
     [ time, low, high, open, close, volume ],
     [ 1415398768, 0.32, 4.2, 0.35, 4.2, 12.3 ],
    """
    resolution = {"1min": 60 , "5min" : 300, "15min" : 900, "1hr" : 3600, "6hr" : 21600, "1day" : 86400}

    if size > 300: 
        print ("limiting the number of requested candle sticks from {} to 300".format(size))
        size = 300
    begin = (end - datetime.timedelta(seconds = size * resolution[granularity]))

    print ( "getting {} tickers from {} to {} ".format(size, begin.isoformat(), end.isoformat()) )

    candles = pclient.get_product_historic_rates(TICKER, 
                                    start = begin.isoformat(), 
                                    end = end.isoformat(),
                                    granularity = resolution[granularity])
    return convert_candles_to_df(candles)

In [6]:
df2 = get_candles_to("EUR-ETH", datetime.datetime.fromisoformat(datetime.datetime.now().isoformat()), 100, "1min")

getting 100 tickers from 2021-02-13T23:05:08.913821 to 2021-02-14T00:45:08.913821

In [7]:
df2

                         low     high     open    close     volume
time
2021-02-14 00:44:00  1505.70  1506.45  1505.96  1506.45   3.072526
2021-02-14 00:43:00  1505.00  1506.19  1506.19  1505.12   3.632310
2021-02-14 00:42:00  1505.23  1507.16  1505.50  1506.57   8.880416
2021-02-14 00:41:00  1504.18  1507.09  1506.90  1504.18  26.268798
2021-02-14 00:40:00  1506.32  1508.65  1506.32  1508.17  28.144696
2021-02-14 00:39:00  1506.61  1507.37  1506.61  1506.95   3.559714
2021-02-14 00:38:00  1505.79  1507.35  1507.23  1505.92   1.364642
2021-02-14 00:37:00  1506.04  1507.50  1507.50  1507.14  20.534723
2021-02-14 00:36:00  1505.81  1507.50  1507.18  1506.24   1.779356
2021-02-14 00:35:00  1506.82  1508.17  1506.82  1507.50   0.673402
2021-02-14 00:34:00  1504.53  1507.28  1504.53  1506.90   3.026793
2021-02-14 00:33:00  1504.39  1505.54  1505.20  1505.38   0.894275
2021-02-14 00:32:00  1502.59  1505.38  1502.59  1503.49   2.184354
2021-02-14 00:31:00  1503.50  1507.29  1507.29  1503.50   5.023391
2021-02-14 00:30:00  1505.92  1506.99  1506.70  1506.28  25.349740
2021-02-14 00:29:00  1506.58  1506.70  1506.70  1506.70   0.519252
2021-02-14 00:28:00  1505.36  1507.00  1506.65  1506.29   2.782461
2021-02-14 00:27:00  1504.32  1507.60  1507.60  1506.09   4.354985
2021-02-14 00:26:00  1506.69  1508.14  1508.14  1507.53   0.697959
2021-02-14 00:25:00  1507.59  1510.80  1509.15  1507.81   7.523804
2021-02-14 00:24:00  1509.69  1510.58  1510.10  1509.69   9.706568
2021-02-14 00:23:00  1509.25  1510.78  1510.23  1510.58  17.143187
2021-02-14 00:22:00  1509.04  1510.80  1509.04  1510.38   2.609064
2021-02-14 00:21:00  1509.04  1510.14  1509.04  1509.07  14.958721
2021-02-14 00:20:00  1507.37  1510.30  1509.79  1507.37   6.497274
2021-02-14 00:19:00  1509.25  1510.94  1509.47  1510.59   2.758307
2021-02-14 00:18:00  1509.15  1510.14  1509.64  1510.14   1.152816
2021-02-14 00:17:00  1508.95  1510.37  1510.24  1509.99   1.731155
2021-02-14 00:16:00  1509.49  1510.66  1510.00  1510.24   2.453746
2021-02-14 00:15:00  1509.54  1510.85  1510.27  1510.45   3.531105
2021-02-14 00:14:00  1509.33  1510.57  1510.57  1510.06  13.664636
2021-02-14 00:13:00  1510.25  1511.67  1510.25  1511.57  64.145548
2021-02-14 00:12:00  1510.24  1511.00  1510.50  1510.25   6.728341
2021-02-14 00:11:00  1509.28  1510.37  1509.61  1510.37  11.039742
2021-02-14 00:10:00  1509.26  1510.50  1509.62  1509.98   7.842702
2021-02-14 00:09:00  1509.32  1510.60  1510.49  1510.60   2.247720
2021-02-14 00:08:00  1509.32  1510.48  1509.54  1510.46   1.016732
2021-02-14 00:07:00  1508.25  1510.68  1510.68  1510.02   3.361911
2021-02-14 00:06:00  1509.34  1511.00  1510.09  1509.51   3.511894

In [99]:
df

                         low     high     open    close     volume
time
2021-02-14 00:20:00  1507.37  1510.30  1509.79  1507.37   6.497274
2021-02-14 00:19:00  1509.25  1510.94  1509.47  1510.59   2.758307
2021-02-14 00:18:00  1509.15  1510.14  1509.64  1510.14   1.152816
2021-02-14 00:17:00  1508.95  1510.37  1510.24  1509.99   1.731155
2021-02-14 00:16:00  1509.49  1510.66  1510.00  1510.24   2.453746
2021-02-14 00:15:00  1509.54  1510.85  1510.27  1510.45   3.531105
2021-02-14 00:14:00  1509.33  1510.57  1510.57  1510.06  13.664636
2021-02-14 00:13:00  1510.25  1511.67  1510.25  1511.57  64.145548
2021-02-14 00:12:00  1510.24  1511.00  1510.50  1510.25   6.728341
2021-02-14 00:11:00  1509.28  1510.37  1509.61  1510.37  11.039742

In [63]:
df

                         low     high     open    close     volume
time
2021-02-14 00:20:00  1507.37  1510.30  1509.79  1507.37   6.497274
2021-02-14 00:19:00  1509.25  1510.94  1509.47  1510.59   2.758307
2021-02-14 00:18:00  1509.15  1510.14  1509.64  1510.14   1.152816
2021-02-14 00:17:00  1508.95  1510.37  1510.24  1509.99   1.731155
2021-02-14 00:16:00  1509.49  1510.66  1510.00  1510.24   2.453746
2021-02-14 00:15:00  1509.54  1510.85  1510.27  1510.45   3.531105
2021-02-14 00:14:00  1509.33  1510.57  1510.57  1510.06  13.664636
2021-02-14 00:13:00  1510.25  1511.67  1510.25  1511.57  64.145548
2021-02-14 00:12:00  1510.24  1511.00  1510.50  1510.25   6.728341
2021-02-14 00:11:00  1509.28  1510.37  1509.61  1510.37  11.039742

In [59]:
df

                         low     high     open    close        volume
time
2021-02-13 01:00:00  1462.27  1546.00  1523.56  1506.09  21564.006467
2021-02-12 01:00:00  1433.86  1541.10  1471.80  1522.26  34322.914128
2021-02-11 01:00:00  1408.50  1493.22  1437.42  1472.15  30061.758481
2021-02-10 01:00:00  1386.04  1518.00  1461.18  1438.37  49339.985859
2021-02-09 01:00:00  1417.32  1511.91  1454.00  1461.39  49258.008598
2021-02-08 01:00:00  1300.50  1470.00  1340.89  1453.37  58835.650285
2021-02-07 01:00:00  1240.00  1406.91  1398.53  1340.50  49553.126453
2021-02-06 01:00:00  1368.24  1445.92  1429.28  1399.41  32660.959064
2021-02-05 01:00:00  1331.82  1470.00  1335.37  1428.67  50124.427892
2021-02-04 01:00:00  1299.23  1409.55  1384.21  1335.67  60728.730905

In [21]:
hm = datetime.datetime.fromisoformat(now_there[0:-1])